.login-imagem {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.background-login {
    display: flex;
    background-color: rgb(247, 247, 247);
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    width: 75%;
}

/* 
PALETA
#224599
#2b3f6f
#262f44
#b8cdff
#e2ebff

*/
