.button-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px;
    padding: 0px 10px;
    width: 90%;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--azul);
    color: var(--azul-mais-claro);
    
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.button-sidebar:hover {
    background-color: var(--azul-claro);
}