.app-container {
  min-height: 100vh;
}

.main {
  margin-left: 236px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.page-content {
  height: 130vh;
  flex: 1;
  background-color: #f8fafc;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    padding-top: 60px;
  }
}